<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="styles/styles.css">
  <script type="module" src="script/app.js"></script>

  <title>The Death of Arkavathi</title>
</head>

<body>
  <main>
    <article>
      <section id="section" class="intro">
        <div class="container">
            <div class = "col-12">
              <img class = "header" src="assets/Group 41.png" >
            </div>
        </div>
      </section>

   
 <!-- scrolly -->
 <section id="map-scrolly">

  <!-- define the scroll sections   --> 
  <% const blocks=
    [
      { 
        "filename" : "arkavati_1" , 
      "anno" :"_blank-slide_"
      }, 
      { 
        "filename" : "map_early" , 
        "anno" : "tracing the maps" 
      }, 
      { 
        "filename" : "map_abstract" , 
        "anno" : "abstracting the traced map" 
      }, 
      { 
        "filename" : "map_schema" , 
        "anno" : "creating a schematic map" 
      }, 
      { 
        "filename" : "map_roads" , 
        "anno": "road network" 
      },
      { 
        "filename" : "map_final" , 
        "anno": "<div class='head'> Doge Title </div> Much Doge Such Wow"
      }
    ] 
  %> 

 
  <%- include('./scrolly/scrolly.ejs', {id: "map-scrolly" , blocks: blocks }); %>

 

</section>
    </article>
  </main>
</body>


</html>