<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
  <link href="//db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="styles/styles.css">
  <script type="module" src="script/app.js"></script>

  <title>The Death of Arkavathi</title>
</head>

<body>
  <main>
    <article>
      <section id="section" class="intro">
        <div class="container">
            <div class = "page">
              <img class = "header" src="assets/Group 41.png" >
            </div>
        </div>
      </section>

   
 <!-- scrolly -->
 <section id="map-scrolly">

  <!-- define the scroll sections   --> 
  <% const blocks=
    [
      { 
        "filename" : "arkavati_1" , 
        "anno" : "<div class='anote'> Arkavati was Bengaluru’s lifeline, she originated from from the Nandi Hills of Chikkaballapura district and is a tributary of river Cauvery</div>"
      }, 
      { 
        "filename" : "arkavati_2" , 
        "anno" : "<div class='anote'> Over-exploitation of ground water in several taluks in and around the river.</div>"
      }, 
      { 
        "filename" : "arkavati_3" , 
        "anno" : "<div class='anote'> Outlets of source lakes were encroached.</div>" 
      }, 
      { 
        "filename" : "arkavati_4" , 
        "anno" : "<div class='anote'> There was a lack of sub-surface flow in the river.</div>"
      }, 
      { 
        "filename" : "arkavati_4" , 
        "anno": "<div class='anote'>  The river water was consumed by the forests and surface irrigated lands.</div>"
      },
      { 
        "filename" : "arkavati_5" , 
        "anno": "<div class='anote'>  Several dams were constructed on the river to obstruct river flow.</div>"
      },
      { 
        "filename" : "arkavati_8" , 
        "anno": "<div class='anote'>  After all this, pharmaceutical products and untreated sewage were disposed into the river creating a large polluted stretch.</div>"
      }
    ] 
  %> 

 
  <%- include('./scrolly/scrolly.ejs', {id: "map-scrolly" , blocks: blocks }); %>

 

</section>
<section id="section" class="conclu">
  <div class="container">
      <div class = "page">
        <img class = "header" src="assets/Group 65.png" >
      </div>
  </div>
</section>
    </article>
  </main>
</body>


</html>